---
import Button2 from "../Button2.astro"
---

<section class="hero-stories">
    <div class="image-container"></div>
    <div class="text-container">
        <h3 class="headingBold">Last month's featured story</h3>
        <h2 class="headingBold">Hazy full moon of Appalachia</h2>
        <p class="textGray dateAuthor">March 2nd 2024 <span class="author">by John Appleseed</span></p>
        <p class="textGray description">The dissected plateau area, while not actually made up of geological mountains, is popularly called "mountains," especially in eastern Kentucky and West Virginia, and while the ridges are not high, the terrain is extremely rugged.</p>
        <Button2 type="button" mode="dark" text="Read the story" />
    </div>
</section>

<style>
    .hero-stories {
        display: block;
        background-image: none;
        background-color: var(--black-color);
        color: var(--white-color);
    }

    .image-container {
        display: block;
        background-image: url('/stories/mobile/moon-of-appalacia.jpg');
        background-size: cover;
        background-position: center;
        height: 375px;
        width: 100%;
    }

    .text-container {
        display: grid;
        gap: 1rem;
        padding: 1.75rem 3rem;
    }

    h3 {
        font-size: 0.75rem;
    }

    .dateAuthor {
        font-size: 0.8rem;
        opacity: 0.75;
    }

    .author {
        font-weight: bold;
        color: var(--white-color);
    }

    .description {
        line-height: 1.5625rem;
    }

    @media only screen and (min-width: 481px) {
        .image-container {
            display: none;
        }

        .hero-stories {
            background-image: url('/stories/desktop/moon-of-appalacia.jpg');
            background-size: cover;
            background-position: center;
            height: 100%;
            width: 100%;
        }

        .text-container {
            max-width: 56ch;
            padding: 7rem 2rem;
            gap: 1.5rem;
        }

        .text-container h2 {
            font-size: 2.5rem;
            line-height: 3rem;
            letter-spacing: 0.35rem;
        }
    }

    @media only screen and (min-width: 901px) {
        .text-container {
            padding: 7rem;
        }
    }

</style>