---
import FeatureItem from "../FeatureItem.astro"

const benefits = [
    {
        title: "100% Responsive",
        text: "No matter which the device you're on, our site is fully responsive and stories look beautiful on any screen.",
        iconSrc: "features/desktop/responsive.svg",
        alt: "icon of devices"
    },
    {
        title: "No Photo Upload Limit",
        text: "Our tool has no limits on uploads or bandwidth. Freely upload in bulk and share all of your stories in one go.",
        iconSrc: "features/desktop/no-limit.svg",
        alt: "icon of infinity"
    },
    {
        title: "Available to Embed",
        text: "Embed Tweets, Facebook posts, Instagram media, Vimeo or YouTube videos, Google Maps, and more.",
        iconSrc: "features/desktop/embed.svg",
        alt: "icon of embedding to social media"
    }
]
---

<section class="benefits">
    {benefits.map((benefit) => (
        <FeatureItem
            title={benefit.title}
            text={benefit.text}
            iconSrc={benefit.iconSrc}
            alt={benefit.alt}
        />
    ))}
</section>

<style>
    .benefits {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 5rem 2rem;
        gap: 3.5rem;
    }

    @media only screen and (min-width: 481px) {
        .benefits {
            margin: 5rem 9rem;
        }
    }

    @media only screen and (min-width: 1160px) {
        .benefits {
            flex-direction: row;
            gap: 1.5rem;
        }
    }

</style>