---
import Button2 from "../Button2.astro";
---

<section class="create-share">
    <div class="image-container"></div>
    <div class="text-container">
        <h2>Create and share your photo stories.</h2>
        <p>Photosnap is a platform for photographers and visual storytellers. We make it easy to share photos, tell stories and connect with others.</p>
        <Button2 type="button" color="dark" text="Get an invite" />
    </div>
</section>

<style>
    .create-share {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--black-color);
        color: var(--white-color);
    }

    .image-container {
        width: 100%;
        height: 294px;
        background-image: url('home/mobile/create-and-share.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .text-container {
        padding: 4.5rem 1.5rem;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 1.5rem;
    }
</style>