---
import Arrow from '../icons/arrow.astro';
interface Props {
    type: 'button' | 'submit' | 'reset';
    mode: 'dark' | 'light';
    text: string;
}

const { type, mode, text } = Astro.props;
---
<div>
    <button type={type} class={`${mode === 'dark' ? 'dark-button' : 'light-button'} textPrimary`}>
        {text}
    </button>
    <Arrow stroke={`${mode === 'dark' ? 'white' : 'black'}`} />
</div>

<style>

    div {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    button {
        border: none;
        background-color: transparent;
    }

    button:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .dark-button {
        color: var(--white-color);
    }

    .light-button {
        color: var(--black-color);
    }
</style>
