---
import SocialMediaGroup from "./SocialMediaGroup.astro";
import Button2 from "./Button2.astro";
import Logo from "../icons/logo.astro";

let year = new Date().getFullYear().toString();
---
<footer>
    <div class="left-footer">
        <Logo fill="white"/>
        <SocialMediaGroup />
        <nav>
            <a class="textPrimary" href="/">Home</a>
            <a class="textPrimary" href="/stories">Stories</a>
            <a class="textPrimary" href="/features">Features</a>
            <a class="textPrimary" href="/pricing">Pricing</a>
        </nav>
    </div>
    <div class="right-footer">
        <Button2 type="submit" mode="dark" text="Get an invite" />
        <p class="textGray">{year}. Made by <a class="github" href="https://github.com/leivadev/photosnap-multi-page-website">Leivadev</a></p>
    </div>
</footer>

<style>

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7rem;
        padding: 3.5rem 0;
        background-color: var(--black-color);
    }

    .left-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .left-footer nav {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .textPrimary {
        color: var(--white-color);
        font-size: 0.75rem;
        transition: ease-in 0.2s;
    }

    .textPrimary:hover {
		opacity: 0.3;
	}

    .right-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .textGray {
        text-align: right;
    }

    .github {
        color: var(--white-color);
        font-weight: 700;
        text-decoration: none;
    }

    .github:hover {
        text-decoration: underline;
    }

    @media only screen and (min-width: 481px) {
        footer {
            flex-direction: row;
            justify-content: space-around;
            align-items: stretch;
            padding: 4rem 2.5rem;
        }

        .left-footer {
            display: grid;
        }

        .left-footer nav {
            flex-wrap: wrap;
            grid-row: 2;
            padding-top: 0;
            padding-bottom: 2.5rem;
            flex-direction: row;
            gap: 1.5rem;
        }

        .right-footer {
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    @media only screen and (min-width: 1160px) {

        .left-footer {
            align-items: stretch;
            grid-template-rows: 1fr 1fr;
        }

        .left-footer nav {
            grid-row: 1 / -1;
            grid-column: 2;
            padding-left: 6.5rem;
            padding-bottom: 0;
            flex-direction: column;
            align-items: flex-start;
        }
    }

</style>