---
import Button1 from './Button1.astro'
import Lines from '../icons/lines.astro'
import Close from '../icons/close.astro'
---

<div class="hamburger">
    <Lines />
</div>
<div class="close-icon">
    <Close />
</div>
<div class="expanded">
    <nav>
        <a class="textPrimary" href="/stories">Stories</a>
        <a class="textPrimary" href="/features">Features</a>
        <a class="textPrimary" href="/pricing">Pricing</a>
    </nav>
    <Button1 type="button" mode='dark' text="Get an invite" />
</div>
<div class="overlay"></div>

<script>
    const hamburger = document.querySelector('.hamburger') as HTMLElement;
    const expanded = document.querySelector('.expanded') as HTMLElement;
    const closeBtn = document.querySelector('.close-icon') as HTMLElement;
    const overlay = document.querySelector('.overlay') as HTMLElement;

    const showExpandedMenu = () => {
        expanded.style.display = 'flex';
        closeBtn.style.display = 'block';
        hamburger.style.display = 'none';
        overlay.style.display = 'block';
    };

    const hideExpandedMenu = () => {
        expanded.style.display = 'none';
        closeBtn.style.display = 'none';
        hamburger.style.display = 'block';
        overlay.style.display = 'none';
    };

    const handleResize = () => {
        if (window.innerWidth >= 650) {
            hamburger.style.display = 'none';
            expanded.style.display = 'none';
        } else {
            hamburger.style.display = 'block';
            hideExpandedMenu();
        }
    };

    hamburger.addEventListener('click', showExpandedMenu);
    closeBtn.addEventListener('click', hideExpandedMenu);
    overlay.addEventListener('click', hideExpandedMenu);
    window.addEventListener('resize', handleResize);

    handleResize();
</script>

<style>
    .hamburger {
        cursor: pointer;
    }

    .expanded {
        display: none;
    }

    .close-icon {
        display: none;
        cursor: pointer;
        z-index: 2;
    }

    .expanded {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        position: absolute;
        top: 4.5rem;
        left: 0;
        background-color: var(--white-color);
        width: 100vw;
        padding: 1rem;
        z-index: 2;
    }

    .overlay {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 55vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    .textPrimary {
        color: var(--black-color);
        font-size: 0.75rem;
    }

    .textPrimary:hover {
        opacity: 0.3;
    }

</style>