---
import Hamburger from './Hamburger.astro'
import Button1 from './Button1.astro'
import Logo from '../icons/logo.astro'
---
<header>
    <Logo fill="black"/>
    <Hamburger />
    <nav>
        <a class="textPrimary" href="/stories">Stories</a>
        <a class="textPrimary" href="/features">Features</a>
        <a class="textPrimary" href="/pricing">Pricing</a>
    </nav>
    <div class="button">
        <Button1 type="button" mode='dark' text="Get an invite" />
    </div>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        align-items: center;
        height: 4.5rem;
        background-color: var(--white-color);
    }

    nav {
        display: flex;
        gap: 2rem;
        text-align: center;
    }

    .textPrimary {
        color: var(--black-color);
        font-size: 0.75rem;
    }

    .textPrimary:hover {
        opacity: 0.3;
    }

    .button, nav {
        display: none;
    }

    @media only screen and (min-width: 481px) {

        header {
            justify-content: space-around;
            padding: 0;
        }

        .button {
            display: block;
        }

        nav {
            display: flex;
        }
    }

</style>